html {
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  text-shadow: 1px 1px 3px #c09;
}

p {
  color: #c09;
  transform: rotate(-6deg);
  max-width: 19em;
  text-shadow: 1px 1px 3px #990073;
}

.btn-ghost {
  border-color: #990073;
  color: #c09;
  border-radius: 4px;
  text-shadow: 1px 1px 3px #990073;
}

.banner {
  background: repeating-linear-gradient(-45deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 20px);
}

.blue {
  background-color: #b3fbff;
}

.cone {
  background: transparent url("../images/cone.svg") no-repeat center center;
  position: relative;
}

.cherry {
  position: absolute;
}

.chocolate-chip {
  position: absolute;
}

.mint-chip {
  position: absolute;
}

.vanilla-fudge {
  position: absolute;
}
